.cur-p {
  cursor: pointer;
}

.new_item {
  width: fit-content;
  padding: 1vh;
  border-radius: 3px;
}

.new_item:hover {
  color: antiquewhite;
  background-color: #62728a;
}

.ff-ubuntu {
  font-family: 'Ubuntu Condensed', sans-serif;
}
